<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymelead.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="html_head">
    <meta charset="utf-8">
    <title>VSound</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Libraries Stylesheet -->

    <link th:href="@{lib/sweetmodal/jquery.sweet-modal.min.css}" rel="stylesheet">
    <link th:href="@{lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- Template Stylesheet -->
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    <style>
        .modal-backdrop {
            z-index: 1000;
        }
    </style>
</head>
<body>
<!-- Spinner Start -->
<div th:fragment="spinner" id="spinner"
     class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Sidebar Start -->
<div th:fragment="sidebar" class="sidebar pe-4 pb-3">
    <nav class="navbar" style="padding-bottom: 100px">
        <a onclick="loadContent(event, this)" th:href="@{/home}" class="navbar-brand mx-4 mb-3">
            <img src="img/logo.png" alt="" style="width: 90%; object-fit: cover;">
        </a>
        <div class="navbar-nav w-100">
            <a onclick="loadContent(event, this)" id="nav-home" th:href="@{/home}"
               th:classappend="${action == 'home' || action == null ? 'active' : ''}" class="nav-item nav-link"
               style="font-size: 15px;"><i class="fa-solid fa-house"
                                           style="color: #0d0d0d;"></i> Khám phá</a>
            <a onclick="loadContent(event, this)" id="nav-album" th:href="@{/albums}"
               th:classappend="${action == 'albums' ? 'active' : ''}" class="nav-item nav-link"
               style="font-size: 15px;"><i class="fa-solid fa-list-ul"
                                           style="color: #0d0d0d;"></i> Album</a>
            <a onclick="loadContent(event, this)" id="nav-artists" th:href="@{/artists}"
               th:classappend="${action == 'artists' ? 'active' : ''}" class="nav-item nav-link"
               style="font-size: 15px;"><i
                    class="fa-solid fa-microphone" style="color: #0d0d0d;"></i> Nghệ sĩ</a>
            <a onclick="loadContent(event, this)" id="nav-genre" th:href="@{/genres}"
               th:classappend="${action == 'genres' ? 'active' : ''}" class="nav-item nav-link"
               style="font-size: 15px;"><i
                    class="fa-solid fa-folder" style="color: #0d0d0d;"></i> Thể loại</a>
            <div class="" th:if="${displayPreAd}">
                <hr style="background-color: rgb(71, 68, 68); height: 2px;">
                <!--            AD-->
                <div style="text-align: center; border-radius: 10px; margin: 8px; width: 170px; box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;" class="cusor">
                    <img style="width: 100%; height: 105px; object-fit: cover; margin-left: 10px;"
                         src=""
                         alt="avatar" id="norAdImg">
                </div>
                <!--            END AD-->
            </div>
            <hr style="background-color: rgb(71, 68, 68); height: 2px;">
            <div style="text-align: center; border-radius: 10px; margin: 8px; padding: 8px; background: linear-gradient(to right, #511ded, #ef4ccf)"
                 class="cusor">
                <p style="color: white; font-size: small; padding: 6px;">Nghe nhạc thả ga cùng kho nhạc premium
                <p>
                    <button style="font-weight: bold; border: 0; outline: 0; border-radius: 20px; background-color: yellow; text-align: center; padding: 5px 10px 5px 10px; color: black"
                            ;>Nâng cấp tài khoản
                    </button>
            </div>
            <hr style="background-color: rgb(71, 68, 68); height: 2px;">
            <div sec:authorize="isAuthenticated()">
                <a onclick="loadContent(event, this)" id="nav-fav-song" th:href="@{/favourite-songs}"
                   th:classappend="${action == 'favourite-songs' ? 'active' : ''}" class="nav-item nav-link"
                   style="font-size: 15px;"><i
                        class="fa-solid fa-heart" style="color: #0d0d0d;"></i> Bài hát yêu thích</a>
                <a onclick="loadContent(event, this)" id="nav-following-artists" th:href="@{/following-artists}"
                   th:classappend="${action == 'following-artists' ? 'active' : ''}" class="nav-item nav-link"
                   style="font-size: 15px;"><i
                        class="fa-solid fa-users" style="color: #0c0d0d;"></i> Nghệ sĩ theo dõi</a>
                <a onclick="loadContent(event, this)" id="nav-fav-album" th:href="@{/favourite-album}"
                   th:classappend="${action == 'favourite-album' ? 'active' : ''}" class="nav-item nav-link"
                   style="font-size: 15px;"><i
                        class="fa-solid fa-headset" style="color: #0c0d0d;"></i> Album yêu thích</a>
                <a onclick="loadContent(event, this)" id="nav-my-playlist" th:href="@{/my-playlist}"
                   th:classappend="${action == 'my-playlist' ? 'active' : ''}" class="nav-item nav-link"
                   style="font-size: 15px;"><i
                        class="fa-solid fa-forward-fast" style="color: #000000;"></i> Playlist của tôi</a>
                <hr style="background-color: rgb(71, 68, 68); height: 2px;">
            </div>

            <div th:classappend="${!loggedIn ? 'hide' : ''}" class="cusor button"
                 id="new-playlist-btn"
                 style="margin: 8px;">
                <p style="margin: 0px;">+ Tạo playlist mới</p>
            </div>
        </div>
    </nav>
</div>
<!-- Sidebar End -->

<!--Ads-->
<div th:fragment="ads">
    <div th:if="${displayNorAd}" id="overlay" onclick="hideAllDivs()"></div>
    <div th:if="${displayNorAd}" style="z-index: 9999; position: fixed; top: 40%; left: 50%; transform: translate(-50%, -50%); display: none; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;"
         class="premium-advert">
        <img id="preAdImg" style="width: 800px; height: 400px; object-fit: cover"
             src="" alt="">
        <i class="fa-solid fa-delete-left advert-icon" onclick="hideDiv()" style="color: #ffffff;"></i>
    </div>

    <div th:if="${displayPreAd}" style="display: none; z-index: 9999; position: fixed; bottom: 60px; left: 50%; transform: translateX(-50%); box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;"
         class="medium-advert">
        <img id="medAdImg" style="width: 600px; height: 110px;"
             src="" alt="">
        <i class="fa-solid fa-delete-left advert-icon" onclick="hideDiv2()" style="color: #ffffff;"></i>
    </div>
</div>
<!--End ads-->

<!-- Navbar Start -->
<nav th:fragment="navbar" class="navbar navbar-expand navbar-dark sticky-top px-4 py-2" style="background-color: #333;">
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa-solid fa-bars" style="color: #000000;"></i>
    </a>
    <form class="form" style="margin-left: 10px; position: relative">
        <label for="search">
            <input required="" autocomplete="off" placeholder="Tìm kiếm" id="search" type="text">
            <div class="icon">
                <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg" class="swap-on">
                    <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                          stroke-linecap="round"></path>
                </svg>
                <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg" class="swap-off">
                    <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </div>
            <button type="reset" class="search-close-btn">
                <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          fill-rule="evenodd"></path>
                </svg>
            </button>
        </label>
        <div class="search-result" id="custom-scrollbar">
            <span>Bài hát</span>
            <div class="song-result">
            </div>
            <span>Album</span>
            <div class="album-result">
            </div>
            <span>Nhạc sĩ</span>
            <div class="artist-result">
            </div>
        </div>
    </form>
    <div class="navbar-nav align-items-center ms-auto">
        <a href="/service/premium" target="_blank" sec:authorize="isAuthenticated()" class="button">
            <p style="margin: 0px;">Mua gói Premium</p>
        </a>
        <a href="/login" sec:authorize="!isAuthenticated()" class="button">
            <p style="margin: 0px;">Đăng nhập</p>
        </a>
        <div class="dropdown" sec:authorize="isAuthenticated()">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img style="object-fit: cover" class="user-avatar"
                     th:src="${(userAvatar != null && !userAvatar.isEmpty()) ? userAvatar : '/img/user.png'}" alt="avatar"/>
            </a>
            <ul class="dropdown-menu dropdown-avt">
                <li><a onclick="loadContent(event, this)" class="dropdown-item"
                       th:href="${artistId} != null ? @{|/artist-details?artist_id=${artistId}|} : @{|/user-details?user_id=${user.getId()}|}">Tài
                    khoản</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                       data-bs-target="#premiumModal">Gói Premium</a></li>
                <li th:if="!${artistUser}" ><a class="dropdown-item" target="_blank" th:href="@{/service/artist-confirmation}">Xác minh nghệ sĩ</a></li>
                <li><a class="dropdown-item" target="_blank" th:href="@{/service/ads-pricing}">Liên hệ quảng cáo</a></li>
                <li class="dropdown-item cusor" sec:authorize="isAuthenticated()" data-bs-toggle="modal" data-bs-target="#userAdsModal">Quảng cáo của bạn</li>
                <li th:if="${isAdmin}">
                    <a class="dropdown-item" target="_blank" th:href="@{/admin/home}">Vào trang admin</a>
                </li>
                <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
            </ul>
        </div>
        <!--modal-->
        <div class="modal fade" id="premiumModal" tabindex="-1" aria-labelledby="premiumModalLabel"
             role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="premiumModalLabel" style="color: #000;">Gói nâng cấp của bạn</h5>
                    </div>
                    <div class="modal-body">
                        <div class="" th:if="${packages.size() == 0}">
                            <p style="text-align: center">Bạn chưa mua gói nâng cấp nào</p>
                        </div>
                        <div th:each="pack, packStat : ${packages}" style="overflow: visible"
                             class="horizontal-card ds-baihat cusor">
                            <div style="display: flex; justify-content: center; align-items: center; padding-top: 5px; padding-bottom: 5px;">
                                <div style="margin-left: 8px;">
                                    <h6 style="margin: 0px; color: #000000;">
                                        <a th:text="${pack.getMPackage().getName()}"></a>
                                        <span th:if="${pack.getMPackage().getType().toString()} == 'TYPE_PREMIUM'">
                                            <i class="fa-solid fa-crown premium-text premium ms-1"
                                               style="font-size: small"></i>
                                        </span>
                                    </h6>
                                    <p style="margin-bottom: 0px; margin-top: 4px; font-size: smaller"
                                       th:text="'Ngày hết hạn: ' + ${#temporals.format(pack.getExpirationDate(), 'dd/MM/yyyy HH:mm:ss')}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="button" data-bs-dismiss="modal">Đóng</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--Navbar end-->

<!--Music player-->
<div th:fragment="music-player"
     style="position: fixed; bottom: 0; left: 0; right: 0; height: max-content; padding: 10px; background-color: #252424; z-index: 999;"
     id="music-container">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 4px;">
        <div style="display: flex; align-items: center;">
            <div style="margin-left: 16px;">
                <img id="cover" style="width: 40px; height: 40px; object-fit: cover;"
                     src="https://bizweb.dktcdn.net/100/438/408/files/phong-canh-dep-o-viet-nam-yody-vn-3.jpg?v=1697610768417"
                     alt="">
            </div>
            <div style="justify-content: center; margin-left: 8px;">
                <p style="margin-bottom: 0px;">
                    <a style=" color: #fff; font-weight: bold" id="title">Unknown</a>
                </p>
                <p style="margin-bottom: 0px;">
                    <a style=" color: #6d6b6b;" id="artist">Unknown</a>
                </p>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-evenly; margin-left: 50px;">
            <i id="forwardBtn" class="fa-solid fa-forward cusor" style="color: #ffffff; margin-right: 16px;"></i>
            <i id="prevBtn" class="fa-solid fa-backward-step cusor" style="color: #ffffff; margin-right: 16px;"></i>
            <div id="playBtn"
                 class="cusor"
                 style="margin-right: 16px; border-radius: 100px; background-color: white; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">
                <i class="fas fa-play" style="color: #000000;"></i>
            </div>
            <i id="nextBtn" class="fa-solid fa-forward-step cusor" style="color: #ffffff; margin-right: 16px;"></i>
            <i id="modeBtn" class="bi bi-repeat cusor"
               style="color: #ffffff; margin-right: 16px; font-weight: bold"></i>
            <div style="display: flex; align-items: center; margin-right: 16px;">
                <p id="currentTime" style="margin-bottom: 0px; color: #fff;">00:00</p>

                <audio src="http://res.cloudinary.com/dt8itomae/video/upload/v1710410939/music_application/audio/d2b1df73-228e-4136-a692-ea8390574d31.mp3"
                       id="audio"></audio>

                <div class="progress-container" id="progress-container">
                    <div class="music-progress" id="progress"></div>
                </div>
                <p id="duration" style="margin-bottom: 0px; color: #fff;">00:00</p>
            </div>
        </div>

        <div style="display: flex; align-items: center; margin-right: 16px;">
            <div>
                <i class="fa-solid fa-bullhorn" style="color: #fafafa; margin-right: 8px;"></i>
                <input type="range" id="volume" min="0" max="100" value="100" step="1">
            </div>
        </div>
    </div>
</div>
<!--End music player-->

<!--Library-->
<div th:fragment="libraries">
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{lib/chart/chart.min.js}"></script>
    <script th:src="@{lib/easing/easing.min.js}"></script>
    <script th:src="@{lib/sweetmodal/jquery.sweet-modal.min.js}"></script>
    <script th:src="@{lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{lib/tempusdominus/js/moment.min.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script th:src="@{lib/tempusdominus/js/moment-timezone.min.js}"></script>
    <script th:src="@{/assets/admin/vendor/chart.js/Chart.bundle.min.js}"></script>
    <script th:src="@{lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Template Javascript -->
    <script type="module" th:src="@{js/main.js}"></script>
</div>
<!--End library-->
</body>
</html>