<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/css/login_register.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <div class="sign-up-info-container">
                <h1>Tạo tài khoản</h1>
                <div class="social-container">
                    <a th:href="@{/oauth2/authorization/google}" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span>Hoặc sử dụng email để đăng ký</span>
                <input id="register-username" type="text" name="username" placeholder="Tên tài khoản" />
                <input id="register-email" type="email" name="email" placeholder="Email" />
                <input id="register-password" type="password" name="password" placeholder="Mật khẩu" />
                <span style="margin-top: 10px; margin-bottom: 10px; color: red;" id="register-error-message"></span>
                <button id="sign-up-btn">Đăng ký</button>
            </div>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="post">
                <h1>Đăng nhập</h1>
                <div class="social-container">
                    <a th:href="@{/oauth2/authorization/google}" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <span>Hoặc sử dụng tài khoản của bạn</span>
                <input type="email" placeholder="Email" name="username"/>
                <input type="password" placeholder="Mật khẩu" name="password"/>
                <span style="color: red;" th:text="${errorMessage} != null ? ${errorMessage} : ''"></span>
                <a href="#">Quên mật khẩu?</a>
                <button id="sign-in-btn">Đăng nhập</button>
                <a href="/home">Trở về trang chủ</a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>Để tiếp tục nghe nhạc, bạn vui lòng đăng nhập tài khoản</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin chào!</h1>
                    <p>Chưa có tài khoản? Đăng ký ngay!!</p>
                    <button class="ghost" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    </footer>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap-grid.min.css" integrity="sha512-Aa+z1qgIG+Hv4H2W3EMl3btnnwTQRA47ZiSecYSkWavHUkBF2aPOIIvlvjLCsjapW1IfsGrEO3FU693ReouVTA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script th:src="@{/js/login_register.js}"></script>
</body>
</html>