<div style="margin: 20px; padding-bottom: 100px">
    <div style="width: 100%;">
        <div class="detail-info-container">
            <img class="detail-bg" th:src="${song.getImageUrl()}" alt="">
            <div class="detail-bg-filter"></div>

            <div th:if="${isArtist}" class="dropdown song-action">
                <div data-bs-toggle="dropdown" aria-expanded="false"><i class="button fa-solid fa-ellipsis-vertical"></i></div>
                <ul class="dropdown-menu">
                    <li>
                        <label for="song-img" class="dropdown-item cusor" id="edit-image">Chỉnh sửa hình ảnh</label>
                        <input type="file" id="song-img" style="display: none" accept="image/*">
                    </li>
                    <li><a class="dropdown-item cusor" id="edit-lyrics">Chỉnh sửa lời bài hát</a></li>
                    <li><a class="dropdown-item cusor" id="delete-song">Xóa bài hát</a></li>
                </ul>
            </div>
            <img style="border-radius: 8px; z-index: 2; width: 150px; height: 150px; margin-left: 40px; object-fit: cover" th:src="${song.getImageUrl()}" alt="">
            <div style="margin-left: 20px; z-index: 2">
                <h3><span th:text="${song.getName() + ' '}" id="song-name"></span><i th:if="${song.getIsPremium()}" class="fa-solid fa-crown premium-text premium"></i><span th:if="${isArtist}"><i class="fa-solid fa-pencil button" id="edit-name"></i></span></h3>
                <h5><a class="user-ref" onclick="loadContent(event, this)" th:href="@{|/artist-details?artist_id=${song.getArtistInfoList().get(0).getId()}|}">
                    <span th:text="${song.getArtistInfoList().get(0).getArtistName()}"></span> <i th:if="${song.getArtistInfoList().get(0).getPersonalInfo() != null}" class="bi bi-patch-check-fill t-info ms-1"></i>
                </a><span>,</span></h5>
                <p style="color: #f1f1f1"><span th:text="${song.getPlays()}"></span> lượt nghe</p>
            </div>
        </div>
    </div>

    <input id="detail-song-id" type="hidden" th:value="${song.getId()}">

    <div style="display: flex; align-items: center; margin-top: 15px;">
        <a href="/service/premium" target="_blank" th:if="${song.getIsPremium()} and ${!canPlay}" id="play-song-btn" class="button" style="margin-right: 0">Nâng cấp để nghe</a>
        <i th:if="${!song.getIsPremium()} or ${canPlay}" class="fa-solid fa-circle-play cusor play-song-btn" id="play-song-btn"></i>
        <div style="margin-left: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center">
            <i th:classappend="${liked ? 'fa-solid' : 'fa-regular'}" class=" fa-heart cusor fav-btn" id="fav-btn"></i>
            <span style="color: #383838" th:text="${song.getUsers() != null ? song.getUsers().size() : '0'}"></span>
        </div>
        <div th:if="${!song.getIsPremium()} or ${canPlay}" th:classappend="${user != null ? '' : 'hide'}" class="button save-to-playlist" data-bs-toggle="modal" data-bs-target="#add-to-playlist">+ Thêm vào playlist</div>
    </div>
    <h4 style="color: #0c0d0d; margin-top: 20px;">Lyrics</h4>
    <div style="background-color: #ffffff; border-radius: 4px; padding: 16px 24px; text-align: center">
        <p id="song-lyrics" th:utext="${song.lyrics}"></p>
    </div>
</div>

<div class="modal fade" id="add-to-playlist" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="m-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="to-playlist" id="new-playlist" checked>
                        <label class="form-check-label" for="new-playlist">
                            Tạo playlist mới
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="to-playlist" id="exists-playlist">
                        <label class="form-check-label" for="exists-playlist">
                            Thêm vào playlist sẵn có
                        </label>
                    </div>
                </div>
                <div class="m-3">
                    <input class="form-control my-input" placeholder="Nhập tên playlist" type="text" id="new-playlist-name">
                    <select class="form-select my-input hide" id="exists-playlist-name">
                        <option th:each="playlist : ${playlists}" th:value="${playlist.getId()}" th:text="${playlist.getTitle()}"></option>
                    </select>
                </div>
                <div class="m-3 d-flex justify-content-end">
                    <div type="button" class="button-other" data-bs-dismiss="modal">Đóng</div>
                    <div type="button" class="button" id="add">Thêm</div>
                </div>
            </div>
        </div>
    </div>
</div>