<h5 style="color: #000; margin: 20px 20px">Nghệ sĩ theo dõi</h5>
<div style="margin: 20px 20px; border-radius: 4px; padding-top: 12px; padding-bottom: 100px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div><div class="col-md-2" style="margin-bottom: 16px;">
            <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                <div >
                    <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                </div>
                <div style="margin-top: 4px;">
                    <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                </div>
            </div>
        </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 16px;">
                <div style="align-items: center; text-align: center; margin-bottom: 50px;" class="cusor">
                    <div >
                        <img style="border-radius: 50%; object-fit: cover; width: 150px; height: 150px" src="https://res.cloudinary.com/dt8itomae/image/upload/v1709910880/music_application/img/8318af95-ea10-49e4-8079-c69e180bcf8a.jpg" alt="">
                    </div>
                    <div style="margin-top: 4px;">
                        <h6 style="color: #000000; font-size: 15px;">Nguyễn Nguyên Nguyên Nguyên</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>